<%- include("../partials/head.ejs") %>
    <div class="row">
        <div class="col-12">
            <% if(users.length){ %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>_id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Servise</th>
                            <th>login</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i!=users.length;i++){ %>
                            <tr>
                                <td>
                                    <%= users[i]._id %>
                                </td>
                                <td>
                                    <%= users[i].name %>
                                </td>
                                <td>
                                    <%= users[i].email %>
                                </td>
                                <td>
                                    <%= users[i].phone %>
                                </td>
                                <td>
                                    <%= users[i].servise %>
                                </td>
                                <td>
                                    <%= users[i].login %>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% } %>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>